
body{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    margin: auto;
    font-style: italic;
}
main{
    margin: 0 auto;
    width: auto;
}

.menu-primario{
    background-color: #080808;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: space-around;
}

.menu-links-redes-sociais{
    flex-direction: row;
}

.logo{
    float: left;
    padding: 5px;
    width: 80%;
}

.menu-links-redes-sociais{
    margin-right: 140px;
}

.menu-links-redes-sociais ul li{
    justify-content: space-between;
    display: table-cell;
    flex-direction: row;
    list-style: none;
    padding-left:10px;
    padding-bottom:20px;
}
.redes-sociais{
    width: 25%;
    float: right;
    margin: 50px;
}

.menu-secundario ul li{
    display: table-cell;
    flex-direction: row;
    border-radius: 15px;
    padding: 0px;   
}
.menu-secundario{
    background-color: yellow;
    padding: 1px;
}

.menu-secundario ul li a{
    text-decoration: none;
    list-style: none;
    margin-left:0px;
    color: #000;
    font-size:12pt;
    padding:50px;   
}

.menu-secundario ul li:hover{
    transition: 0.7s;
    transform: scale(1.2);
    box-shadow: #000; 
}

.menu-secundario ul li a:hover{
    color: #000;
}

